In [187]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [220]:
continents = ['asia', 'africa', 'europe', 'north-america', 'south-america', 'australia', 'oceania']
asia_url = f'https://www.worldometers.info/geography/7-continents/{continents[0]}'
africa_url = f'https://www.worldometers.info/geography/7-continents/{continents[1]}'
europe_url = f'https://www.worldometers.info/geography/7-continents/{continents[2]}'
north_america_url = f'https://www.worldometers.info/geography/7-continents/{continents[3]}'
south_america_url = f'https://www.worldometers.info/geography/7-continents/{continents[4]}'
oceania_url = f'https://www.worldometers.info/geography/7-continents/{continents[5]}/{continents[6]}'

#Countries list per continent
asian_countries = []
african_countries = []
european_countries = []
north_american_countries = []
south_american_countries = []
oceania_countries = []

#Population of each country
asian_population = []
african_population = []
european_population = []
north_american_population = []
south_american_population = []
oceania_population = []
 
#Land area of each country
asian_land_area = []
african_land_area = []
european_land_area = []
north_american_land_area = []
south_american_land_area = []
oceania_land_area = []

#Population density of each country
asian_density = []
african_density = []
european_density = []
north_american_density = []
south_american_density = []
oceania_density = []

#Per Capita (person) land area of each country
asian_capita_land = []
african_capita_land = []
european_capita_land = []
north_american_capita_land = []
south_american_capita_land = []
oceania_capita_land = []

def extract_asian_data(url):
    response = requests.get(url).text
    data = BeautifulSoup(response, 'html.parser')

    table = data.find('tbody')
    rows = table.find_all('tr')

    for row in rows:
        column = row.find_all('td')
        if len(column) >= 1:
            country = column[1].text
            population = int((column[2].text).replace(',',''))
            land_area = int((column[3].text).replace(',',''))
            pop_density = int((column[4].text).replace(',',''))
            per_capita_land_area = round(float(land_area/population), 4)
            asian_countries.append(country)
            asian_population.append(population)
            asian_land_area.append(land_area)
            asian_density.append(pop_density)
            asian_capita_land.append(per_capita_land_area)



def extract_african_data(url):
    response = requests.get(url).text
    data = BeautifulSoup(response, 'html.parser')

    table = data.find('tbody')
    rows = table.find_all('tr')

    for row in rows:
        column = row.find_all('td')
        if len(column) >= 1:
            country = column[1].text
            population = int((column[2].text).replace(',',''))
            land_area = int((column[3].text).replace(',',''))
            pop_density = int((column[4].text).replace(',',''))
            per_capita_land_area = round(float(land_area/population), 4)
            african_countries.append(country)
            african_population.append(population)
            african_land_area.append(land_area)
            african_density.append(pop_density)
            african_capita_land.append(per_capita_land_area)

def extract_european_data(url):
    response = requests.get(url).text
    data = BeautifulSoup(response, 'html.parser')

    table = data.find('tbody')
    rows = table.find_all('tr')

    for row in rows:
        column = row.find_all('td')
        if len(column) >= 1:
            country = column[1].text
            population = int((column[2].text).replace(',',''))
            land_area = int((column[3].text).replace(',',''))
            pop_density = int((column[4].text).replace(',',''))
            per_capita_land_area = round(float(land_area/population), 4)
            european_countries.append(country)
            european_population.append(population)
            european_land_area.append(land_area)
            european_density.append(pop_density)
            european_capita_land.append(per_capita_land_area)

def extract_NA_data(url):
    response = requests.get(url).text
    data = BeautifulSoup(response, 'html.parser')

    table = data.find('tbody')
    rows = table.find_all('tr')

    for row in rows:
        column = row.find_all('td')
        if len(column) >= 1:
            country = column[1].text
            population = int((column[2].text).replace(',',''))
            land_area = int((column[3].text).replace(',',''))
            pop_density = int((column[4].text).replace(',',''))
            per_capita_land_area = round(float(land_area/population), 4)
            north_american_countries.append(country)
            north_american_population.append(population)
            north_american_land_area.append(land_area)
            north_american_density.append(pop_density)
            north_american_capita_land.append(per_capita_land_area)

def extract_SA_data(url):
    response = requests.get(url).text
    data = BeautifulSoup(response, 'html.parser')

    table = data.find('tbody')
    rows = table.find_all('tr')

    for row in rows:
        column = row.find_all('td')
        if len(column) >= 1:
            country = column[1].text
            population = int((column[2].text).replace(',',''))
            land_area = int((column[3].text).replace(',',''))
            pop_density = int((column[4].text).replace(',',''))
            per_capita_land_area = round(float(land_area/population), 4)
            south_american_countries.append(country)
            south_american_population.append(population)
            south_american_land_area.append(land_area)
            south_american_density.append(pop_density)
            south_american_capita_land.append(per_capita_land_area)

def extract_oceania_data(url):
    response = requests.get(url).text
    data = BeautifulSoup(response, 'html.parser')

    table = data.find('tbody')
    rows = table.find_all('tr')

    for row in rows:
        column = row.find_all('td')
        if len(column) >= 1:
            country = column[1].text
            population = int((column[2].text).replace(',',''))
            land_area = int((column[3].text).replace(',',''))
            pop_density = int((column[4].text).replace(',',''))
            per_capita_land_area = round(float(land_area/population), 4)
            oceania_countries.append(country)
            oceania_population.append(population)
            oceania_land_area.append(land_area)
            oceania_density.append(pop_density)
            oceania_capita_land.append(per_capita_land_area)

        
extract_asian_data(asia_url)
extract_african_data(africa_url)
extract_european_data(europe_url)
extract_NA_data(north_america_url)
extract_SA_data(south_america_url)
extract_oceania_data(oceania_url)
asia_df = pd.DataFrame({'Country': asian_countries, 'Continent': f'{continents[0].capitalize()}', 'Population (2024)':asian_population, 'Land Area (Km2)': asian_land_area, 'Density (P/Km2)': asian_density, 'Per Capita Land Area (Km2/P)': asian_capita_land})
africa_df = pd.DataFrame({'Country': african_countries, 'Continent': f'{continents[1].capitalize()}', 'Population (2024)':african_population, 'Land Area (Km2)': african_land_area, 'Density (P/Km2)': african_density, 'Per Capita Land Area (Km2/P)': african_capita_land})
europe_df = pd.DataFrame({'Country': european_countries, 'Continent': f'{continents[2].capitalize()}', 'Population (2024)':european_population, 'Land Area (Km2)': european_land_area, 'Density (P/Km2)': european_density, 'Per Capita Land Area (Km2/P)': european_capita_land})
north_america_df = pd.DataFrame({'Country': north_american_countries, 'Continent': f'{continents[3].capitalize()}', 'Population (2024)':north_american_population, 'Land Area (Km2)': north_american_land_area, 'Density (P/Km2)': north_american_density, 'Per Capita Land Area (Km2/P)': north_american_capita_land})
south_america_df = pd.DataFrame({'Country': south_american_countries, 'Continent': f'{continents[4].capitalize()}', 'Population (2024)':south_american_population, 'Land Area (Km2)': south_american_land_area, 'Density (P/Km2)': south_american_density, 'Per Capita Land Area (Km2/P)': south_american_capita_land})
oceania_df = pd.DataFrame({'Country': oceania_countries, 'Continent': f'{continents[6].capitalize()}', 'Population (2024)':oceania_population, 'Land Area (Km2)': oceania_land_area, 'Density (P/Km2)': oceania_density, 'Per Capita Land Area (Km2/P)': oceania_capita_land})

In [219]:
#Check the dataframes' data
north_america_df

,Country,Continent,Population (2024),Land Area (Km2),Density (P/Km2),Per Capita Land Area (Km2/P)
0,U.S.A.,North-america,345426571,9147420,38,0.0265
1,Mexico,North-america,130861007,1943950,67,0.0149
2,Canada,North-america,39742430,9093510,4,0.2288
3,Guatemala,North-america,18406359,107160,172,0.0058
4,Haiti,North-america,11772557,27560,427,0.0023
5,Dominican Republic,North-america,11427557,48320,236,0.0042
6,Cuba,North-america,10979783,106440,103,0.0097
7,Honduras,North-america,10825703,111890,97,0.0103
8,Nicaragua,North-america,6916140,120340,57,0.0174
9,El Salvador,North-america,6338193,20720,306,0.0033
10,Costa Rica,North-america,5129910,51060,100,0.0100
11,Panama,North-america,4515577,74340,61,0.0165
12,Puerto Rico,North-america,3242204,8870,366,0.0027
13,Jamaica,North-america,2839175,10830,262,0.0038
14,Trinidad and Tobago,North-america,1507782,5130,294,0.0034
15,Belize,North-america,417072,22810,18,0.0547
16,Bahamas,North-america,401283,10010,40,0.0249
17,Guadeloupe,North-america,375106,1690,222,0.0045
18,Martinique,North-america,343195,1060,324,0.0031
19,Barbados,North-america,282467,430,657,0.0015
20,Curaçao,North-america,185482,444,418,0.0024
21,Saint Lucia,North-america,179744,610,295,0.0034
22,Grenada,North-america,117207,340,345,0.0029
23,Aruba,North-america,108066,180,600,0.0017
24,Saint Vincent and the Grenadines,North-america,100616,390,258,0.0039
25,Antigua and Barbuda,North-america,93772,440,213,0.0047
26,United States Virgin Islands,North-america,84905,350,243,0.0041
27,Cayman Islands,North-america,74457,240,310,0.0032
28,Dominica,North-america,66205,750,88,0.0113
29,Bermuda,North-america,64636,50,1293,0.0008
30,Greenland,North-america,55840,410450,0,7.3505
31,Saint Kitts and Nevis,North-america,46843,260,180,0.0056
32,Turks and Caicos Islands,North-america,46535,950,49,0.0204
33,Sint Maarten,North-america,43350,34,1275,0.0008
34,British Virgin Islands,North-america,39471,150,263,0.0038
35,Caribbean Netherlands,North-america,30675,328,94,0.0107
36,Saint Martin,North-america,26129,53,493,0.0020
37,Anguilla,North-america,14598,90,162,0.0062
38,Saint Barthélemy,North-america,11258,21,536,0.0019
39,Saint Pierre and Miquelon,North-america,5628,230,24,0.0409
40,Montserrat,North-america,4389,100,44,0.0228

In [223]:
all_countries_df = pd.concat([asia_df, africa_df, europe_df, north_america_df, south_america_df, oceania_df], ignore_index=True)
all_countries_df = all_countries_df.sort_values(by='Country', ascending=True)
all_countries_df.reset_index(drop=True, inplace=True)
all_countries_df

,Country,Continent,Population (2024),Land Area (Km2),Density (P/Km2),Per Capita Land Area (Km2/P)
0,Afghanistan,Asia,42647492,652860,65,0.0153
1,Albania,Europe,2791765,27400,102,0.0098
2,Algeria,Africa,46814308,2381740,20,0.0509
3,American Samoa,Oceania,46765,200,234,0.0043
4,Andorra,Europe,81938,470,174,0.0057
...,...,...,...,...,...,...
229,Wallis and Futuna Islands,Oceania,11277,140,81,0.0124
230,Western Sahara,Africa,590506,266000,2,0.4505
231,Yemen,Asia,40583164,527970,77,0.0130
232,Zambia,Africa,21314956,743390,29,0.0349
233,Zimbabwe,Africa,16634373,386850,43,0.0233